<header>
    <div class="navbar">
      <nav>  
      <ul>
        <!-- <li>REGISTER</li> -->
        <!-- <li>CART</li>
        <li>MORE</li> -->
        <div class="dropdown">
        <li><button class="login">login</button></li>
        <li><button class="register">register</button></li>

        <!-- <div class="dropdown-content">
            <a href="#">orders</a>
            <a href="#">rewards</a>
            <a href="#">wishlist</a> -->
        <!-- </div> -->
    
        </div>
      </ul>
      </nav>
    </div>
  </header>
